
body{
	width: 100%;
	height: 100%;
	margin: auto;
	overflow: hidden;
	background-color: #FFF;
}
#bg_large{
	position: absolute;
	left: 1024px;
	top: 250px;
	float: right;
}
.screen{
	position: fixed;
	margin: auto;
	overflow: auto;	
}
#screen_1{
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
}
#screen_2{
	top: 0%;
	bottom: 0%;
	right : -100%;
	left: 100%;
	
	
}
#button_1{
	margin: 0 0 0 25%; 
}
#bg_small {
	background-image: url(../IMG/BG_HD.png);
	background-repeat: no-repeat;
	opacity: 0.55;
	background-position: -20px -250px;
	position: absolute;
	z-index: 0;
	background-size: 550px;
	width: 100%;
	height: 100%;
}
#intro, #ID_card{
	margin: 0 auto;
	width: 50%;
}
#intro{
	padding-top: 5%;
}
#ID_card{
	padding-left: 2em;
}
#loader{padding:25pax;}
h1, h2, h3, h4, h5, h6{
	font-family:'OptimusPrinceps';
}
@font-face {
font-family: 'OptimusPrinceps';
font-style: normal;
font-weight: normal;
src: local('OptimusPrinceps'), url('OptimusPrinceps.woff') format('woff');
}


@font-face {
font-family: 'OptimusPrincepsSemiBold';
font-style: normal;
font-weight: normal;
src: local('OptimusPrincepsSemiBold'), url('OptimusPrincepsSemiBold.woff') format('woff');
}
